*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom-vars.el
places
.smex-items
savefile/
.cache/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
forge-database.sqlite
/server/
/straight/
/quelpa/
/transient/
/history
/.lsp-session-v1
/woman-cache.el
