*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom-vars.el
places
.smex-items
savefile/
.cache/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
forge-database.sqlite
/server/
/straight/
/quelpa/
/transient/
/history
/.lsp-session-v1
/woman-cache.el
/org-clock-save.el
/autosave/
/eln-cache/
/workspace/
/projects
/org-roam.db
/eclipse.jdt.ls/
/devdocs/
/.org-id-locations
/.mc-lists.el
/.dap-breakpoints

# Compiled tree-sitter grammars
/tree-sitter/

# Emacs Backup Files
/backups/

# Undo-tree history files
*~undo-tree~
*.eld
